body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #00ffff;
}

.input-container {
  width: 400px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
input {
  border-radius: 4px;
  height: 100%;
}

input,
button {
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

button {
  background: #96f89d;
}
.weather-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weather-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.weather-card {
  display: flex;
  align-items: center;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}
